html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
}
h1 {
	font-weight: normal;
	font-size: 54px;
	}
p {
	
}
#header {
	background-color: #7FFFD4;
	width: 100%;
	height: 100px;
	padding: 10px;
}
#mainmenu {
	
}
#body {
	padding: 10px;
	padding-bottom: 60px;
}
.img {
	position: relative;
	width: 100%;
	height: 250px;
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #7FFFD4;
	margin-top: 44px;
	border: 1px solid;
	height: 32px;
	padding: 0px;
	
}

footer {
	margin-top: 44px;
	border: 1px solid;
	height: 32px;
	padding: 8px;
	bottom: 0px;
	}
#container {
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	background-color: #F5F5DC;
	flex: 1;
	padding: 0px;
	position: relative;
	margin: auto;
}
	 

#content1 img {
	width: 200px;
	height: 200px;
	margin: 0;
}
#about img {
	width: 500px;
}
#place img {
	width: 400px;
}
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}
